@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&family=Rajdhani:wght@300;400;500;600;700&display=swap");

* {
    outline: 0;
  }

  html {
    font-size: 16px; /* reset rem size */
  }

  body {
    background-image: url('Article-background.png');
    color: white;
    line-height: 0.75;
  }

  html, body {
    font-family: 'Onest', 'Rajdhani', sans-serif;
  }

  a {
    color: #Fdd600;
  }

#content {
  position:relative;
}
  
.azazel {
  position: absolute;
  right: 0;
}